*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --background:#FBF8F3;
    --amarillo:#fabe25;
    --azul:#0080ff;
    --rojo:#e9353f;
    --verde:#33d072;
    --verde2:#4bbf7a;
    --negro2: #232323;
    --negro:#3d3d3d;
    --gris:#dcdcdc;
    --gris1:#e9e9e9;

}
.plus-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
button{
    all: unset;
    cursor: pointer;
}
.button2{
    width: fit-content;
    margin-top: 20px;
    height: 40px;
    padding: 12px 24px;
    border-radius: 10px;
    border: 2px solid var(--negro);
    background-color: var(--background);
    color: var(--negro);
    transition: all 0.2s ease;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button2:hover{
    background-color: var(--gris);
    border: 2px solid var(--gris);
}

.items-name{
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-weight: bold;
    color: var(--negro);
    /* color: #2A3547; */
    margin: 20px 0 10px;
}

body{
    font-family: 'Plus Jakarta Sans';
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100vh;
}
/* -------------------- SIDEBAR ---------------------- */
.side-bar{
    min-width: 80px;
    border-right: 1px solid var(--gris);
    transition: min-width 0.2s  cubic-bezier(0, 0, 0, 0.98);;

    .scroll-alumnos {
        height: 85%;
        padding: 0 12px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .cuadritos{
        width: 100%;
        height: 45px;
        margin: 1px;
        border-radius: 5px;
        /* background-color: var(--negro); */
        display: flex;
        align-items: center;
        span{
            display: flex;
            flex-direction: row;
            width: 100%;
            color: var(--negro1);
            align-items: center;
            cursor: pointer;
        }
        img{
            width: 20px;
            height: 20px;
            margin: 20px;
        }
        p.sideBar-item{
            display: none;
            font-size: 16px;
        }
    }
    .cuadritos:hover{
        background-color: var(--gris1);
    }
}
.side-bar.open-sidebar,.side-bar:hover{
    min-width: 260px;
    p.sideBar-item{
        display: block;
    }
}
.side-bar.no-hover:hover {
    min-width: 80px;
    p.sideBar-item{
        display: none;
    }
}

/* ------------------------------------------ */
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
header{
    height: 70px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid var(--gris);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .button-header{
        height: 50px;
        width: 50px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 15px;
            height: 15px;
        }
    }
    .button-header:hover{
        background-color: var(--gris1);
    }
    .item-nav{
        border-radius: 5px;
        padding: 6px 12px;
        display: flex;
        align-items: center;
        img{
            width: 15px;
            height: 15px;
            margin: 0 0 0 10px;
        }
    }
    .item-nav:hover{
        background-color: var(--gris1);
    }
    /* ------------------------------DROPDOWN-STYLE----------------------------------- */
    .drop{
        position: absolute;
        top: 60px;
        left: 8%;
        width: 500px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .drop.open-menu{max-height: 100vh;}
    .dropdown-container{
        background-color: var(--background);
        border: 1px solid var(--gris1);
        padding: 20px 30px;
        border-radius: 5px;
    }
    /* ------------------------------SUBMENU-STYLE----------------------------------- */
    .sub-menu-wrap{
        position: absolute;
        top: 60px;
        right: 1%;
        width: 360px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .sub-menu-wrap.open-menu{
        max-height: 100vh;
    }
    .sub-menu{
        background-color: var(--background);
        border: 1px solid var(--gris1);
        padding: 20px 30px;
        border-radius: 5px;
        p{font-size: 14px;}
        .user-info{
            padding: 10px 0 24px;
            display: flex;
            align-items: center;
            img{
                width: 95px;
                height: 95px;
                border-radius: 50%;
                margin-right: 30px;
            }
        }
        hr{
            border: 0;
            height: 1px;
            background-color: var(--gris);
        }
        .sub-menu-link{
            margin: 16px 0;
            display: flex;
            flex-direction: row;
            .cuadro{
                width: 40px; 
                height: 40px; 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                background-color: var(--gris); 
                border-radius: 5px;
            }
        }
    }
}
main{
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    .title-main{
        max-width: 1150px;
        width: 100%;
        height: 120px;
        border-radius: 10px;
        background-color: #e9f0fe;
        padding: 30px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
            font-size: 20px;
            font-weight: 600;
        }
    }
    .container-inputs{
        max-width: 1150px;
        width: 100%;
        padding: 20px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;
        
        .column-form-left{
            width: 50%;
            padding: 0 15px 0 0;
        }

        .column-form-right{
            width: 50%;
            padding: 0 0 0 15px;
        }

        .divisor-inputs{
            padding: 22px 24px;
            border-radius: 10px;
            box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;
            display: flex;
            flex-wrap: wrap;
            margin: 15px 0;
        }
        .checkbox-container{
            width: 100%;
            font-size: 14px;
            display: flex;
            flex-direction: column;
        }
        .check-label{
            display: flex;
            align-items: center;
            margin: 5px 0;
            label{
                margin: 0 20px 0 0;
            }
        }
    }
}
form input.input-style{
    width: 100%;
    height: 50px;
    background-color: var(--background);
    color: var(--negro);
    border-style: none;
    border-radius: 10px;
    border: 2px solid #d2d0d0;
    padding: 15px;
    font-family: 'Plus Jakarta Sans';
}

form input.input-style:hover{
    border: 2px solid var(--negro2);
}
form input.input-style:focus {
    border: 2px solid var(--negro2);
    outline: none;
}
form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    accent-color: var(--azul);
    font-size: 12px;
    margin:0 20px 0 0;
}