*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --background:#FBF8F3;
    --amarillo:#fabe25;
    --azul:#0080ff;
    --rojo:#e9353f;
    --verde:#33d072;
    --verde2:#4bbf7a;
    --negro2: #232323;
    --negro:#3d3d3d;
    --gris:#dcdcdc;
    --gris1:#edebeb;

}
.plus-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
button{
    all: unset;
    cursor: pointer;
}

.button1{
    width: fit-content;
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    background-color: var(--negro2);
    color: #ffff;
    transition: all 0.2s ease;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
}
.button1:hover{
    background-color: var(--negro);
}
.button2{
    width: fit-content;
    margin-top: 20px;
    height: 40px;
    padding: 12px 24px;
    border-radius: 10px;
    border: 2px solid var(--negro);
    background-color: var(--background);
    color: var(--negro);
    transition: all 0.2s ease;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button2:hover{
    background-color: var(--gris);
    border: 2px solid var(--gris);
}

body{
    font-family: 'Plus Jakarta Sans';
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    height:100vh;
}
.col1{
    width: 55%;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--negro2);
}
.col2{
    /* box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px; */
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form{
        width: 60%;
        margin: 5px 0 0;
    }

    form input.input-style{
        width: 100%;
        height: 50px;
        background-color: var(--background);
        color: var(--negro);
        border-style: none;
        border-radius: 10px;
        border: 2px solid #d2d0d0;
        padding: 15px;
        font-family: 'Plus Jakarta Sans';
    }
    
    form input.input-style:hover{
        border: 2px solid var(--negro2);
    }
    form input.input-style:focus {
        border: 2px solid var(--negro2);
        outline: none;
    }
    .items-name{
        font-family: 'Plus Jakarta Sans';
        font-size: 12px;
        font-weight: bold;
        color: var(--negro);
        /* color: #2A3547; */
        margin: 20px 0 10px;
    }
}
@media (min-width: 0) and (max-width: 840px) {
    .col1{display: none;}
    .col2{
        width: 100%;
        text-align: center;
    form{
        width: 80%;
        text-align: start;
    }}
}