{% extends 'plantilla.html' %}
{% block title %}Cursos{% endblock %}
<!-- ----------------------------------------------------->
{% block headerinf %}
<link rel="stylesheet" href="static/card.css">
{% endblock %}
{% block maincontent %}
<div class="title-main">
    <h2>Cursos</h2>
    <p>Ciclo lectivo 2024</p>
</div>
<div class="container-inputs" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <form action="" style="width: 100%; display: flex; justify-content: space-between;">
      <!-- Input de búsqueda -->
        <input id="search-input" 
        style="width: 280px; background-image: url('static/img/lupa.png'); background-repeat: no-repeat; background-position: 95% center; background-size: 20px;"  
          type="text" class="input-style" name="Curso" autocomplete="off" placeholder="Buscar:" required>
      
      <!-- Input de selección de año -->
      <div style="position: relative; width: 280px;">
        <div id="custom-select" onclick="toggleDropdown()" style="
            width: 100%; 
            font-size: 16px; 
            color: #333; 
            background-color: var(--background); 
            border-radius: 8px; 
            padding: 12px 16px; 
            cursor: pointer; 
            display: flex; 
            justify-content: space-between; 
            align-items: center;
            box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px">
          <span id="selected-option">Selecciona el año</span>
          <span style="color: #000000;">▼</span> 
        </div>
      
        <div id="dropdown-options" style=" display: none; position: absolute; top: 100%; left: 0;
            width: 100%; background-color: #fff; border: 1px solid #ccc; border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  max-height: 200px; overflow-y: auto; z-index: 1000;">

            <div onclick="selectOption('1er año')" style="padding: 10px 16px; cursor: pointer;">1er año</div>
            <div onclick="selectOption('2do año')" style="padding: 10px 16px; cursor: pointer;">2do año</div>
            <div onclick="selectOption('3er año')" style="padding: 10px 16px; cursor: pointer;">3er año</div>
            <div onclick="selectOption('4to año')" style="padding: 10px 16px; cursor: pointer;">4to año</div>
            <div onclick="selectOption('5to año')" style="padding: 10px 16px; cursor: pointer;">5to año</div>
            <div onclick="selectOption('6to año')" style="padding: 10px 16px; cursor: pointer;">6to año</div>
            <div onclick="selectOption('7mo año')" style="padding: 10px 16px; cursor: pointer;">7mo año</div>
            </div>
        </div>
      
        <script>
            function toggleDropdown() {
            const dropdown = document.getElementById("dropdown-options");
            dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
            }
        
            function selectOption(optionText) {
            document.getElementById("selected-option").innerText = optionText;
            document.getElementById("dropdown-options").style.display = "none";
            }
        
            // Cierra el dropdown si haces clic fuera de él
            document.addEventListener("click", function(event) {
            const customSelect = document.getElementById("custom-select");
            const dropdownOptions = document.getElementById("dropdown-options");
            if (!customSelect.contains(event.target)) {
                dropdownOptions.style.display = "none";
            }
            });
        </script>
    </form>
</div>

<div class="contenedor-tarjetas" id="cursoContainer"></div>

<script>
    const cursos = JSON.parse('{{ cursos | tojson }}');
    const orientacion = JSON.parse('{{ orientacion | tojson }}');
    const turnos = JSON.parse('{{ turnos | tojson }}');
    
    const container = document.getElementById('cursoContainer');
    const searchInput = document.getElementById('search-input');

    async function loadTemplate() {
        const response = await fetch('/get-carta-template');
        return await response.text();
    }

    async function generateCards(year) {
        container.innerHTML = ''; 
        const template = await loadTemplate();
        
        let filteredCourses = cursos;
        
        if (year && year !== 'todos') {
            filteredCourses = cursos.filter(course => course.year === year);
        }
        
        // creacion de cartas
        filteredCourses.forEach((course, index) => {
            const card = createCard(template, course, orientacion[index], turnos[index], index);
            container.innerHTML += card;
        });
    }

    generateCards('todos'); 

    function createCard(template, course, orientacion, turnos, index) {
        const courseUrl = course.toLowerCase().replace(/\s+/g, '-');
        return template
            .replace('${course}', course)
            .replace('${orientacion}', orientacion)
            .replace('${turno}', turnos)
            .replace('${url}', `${index + 1}-${courseUrl}`);
    }

    function filterCards() {
        const searchTerm = searchInput.value.toLowerCase();

        // Solo seleccionar las tarjetas generadas en el contenedor
        const cardTitles = container.querySelectorAll('.titulo-tarjeta'); 

        cardTitles.forEach((titleElement) => {
            const cardContainer = titleElement.closest('.card-container');
            const title = titleElement.innerText.toLowerCase();

            if (title.includes(searchTerm)) {
                cardContainer.style.display = ''; // Mostrar tarjeta si coincide con búsqueda
            } else {
                cardContainer.style.display = 'none'; // Ocultar tarjeta si no coincide
            }
        });
    }

    // filtrar por año
    function filterCardsAge(search) {
        searchTerm = search.toLowerCase();

        // Solo seleccionar las tarjetas generadas en el contenedor
        const cardTitles = container.querySelectorAll('.titulo-tarjeta'); 

        cardTitles.forEach((titleElement) => {
            const cardContainer = titleElement.closest('.card-container');
            const title = titleElement.innerText.toLowerCase();

            if (title.includes(searchTerm)) {
                cardContainer.style.display = ''; // Mostrar tarjeta si coincide con búsqueda
            } else {
                cardContainer.style.display = 'none'; // Ocultar tarjeta si no coincide
            }
        });
    }

    function selectOption(option) {
        const yearMap = {
            '1er año': '1ro',
            '2do año': '2do',
            '3er año': '3ro',
            '4to año': '4to',
            '5to año': '5to',
            '6to año': '6to',
            '7mo año': '7mo',
        };

        const year = yearMap[option] || null;

        console.log('el año es:',year);

        document.getElementById('selected-option').innerText = option;
        filterCardsAge(year);
        // generateCards(year);
    }

    document.addEventListener('DOMContentLoaded', function() {
            searchInput.addEventListener('input', filterCards);
    });

</script>

{% endblock %}