<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Recuperar contraseña</title>
</head>
<body>
    <div class="col1"></div>
    <div class="col2">
        <form action="/" method="post">
            <h1 style="margin: 10px 0;">Olvidaste tu contraseña?</h1>
            <p style="color: var(--negro);">Ingrese la dirección de correo electrónico asociada a su cuenta y le enviaremos un enlace para restablecer su contraseña.</p>
            <p class="items-name">Correo electronico</p>
            <input type="email" class="input-style" name="email" autocomplete="off" placeholder="" required>
            <div style="width: 100%; display: flex; align-items: flex-end; justify-content: end; flex-direction: column;">
                <input type="submit" style="width: 100%;" class="button1" value="Recuperar contraseña">
                <a href="/"style="width: 100%;" class="button2">Volver al login</a>
            </div>
        </form>
    </div>
</body>
</html>