{% extends 'plantilla.html' %}
{% block title %}Listas{% endblock %}
<link rel="stylesheet" href="static/plantilla.css">
{% block maincontent %}
<div class="title-main">
    <h2>{{ cursos[0].nombre if cursos else "No se encontró el curso solicitado" }}</h2>
    <p>Ciclo lectivo 2024 {{ orientation_options }} {{ turno_options }}</p> 
</div>

{% if cursos %}
    {% for curso in cursos %}
        <div class="curso-item">
            <p>{{ curso.nombre }} - {{ curso.orientacion }} - {{ curso.turno }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>No se encontraron cursos que coincidan con los parámetros proporcionados.</p>
{% endif %}
{% endblock %}