{% extends 'plantilla.html' %}
{% block title %}Nuevo alumno{% endblock %}

{% block headerinf %}
{% endblock %}
<!-- ----------------------------------------------------->
{% block maincontent %}
    <div class="title-main">
        <h2>Inscripcion definitiva</h2>
        <p>ciclo lectivo 2024</p>
    </div>
    <div class="container-inputs">
        <div class="tab-container" style="height: 48px; border-bottom:  2px solid var(--azul);">

        </div>
        <form action="" method="post">
            <p class="items-name">Contraseña</p>
            <input type="password" class="input-style" name="password" autocomplete="off" placeholder="" required>
        </form>
    </div>
{% endblock %}