{% extends 'plantilla.html' %}
{% block title %}{{cursos}}{% endblock %}
{% block headerinf %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}
{% block maincontent %}
<div class="title-main">
    <h2>Curso {{cursos}}</h2>
    <p>Ciclo lectivo 2024</p> 
</div>
<div class="container-inputs">
    <table class="tablas-design">
        <thead>
            <tr>
                <th style="padding:16px 16px 16px 83px;">Nombre</th>
                <th>Documento</th>
                <th>Telefono (Tutor)</th>
                <th>Opciones</th>
            </tr>
            <tbody>
                {% for student in students_data %}
                <tr>
                    <td>
                        <span>
                            {% if student.Genero == "Hombre" %}
                                <img src="{{ url_for('static', filename='/img/perfil.jpg') }}">
                            {% elif student.Genero == "Mujer" %}
                                <img src="{{ url_for('static', filename='/img/mujer.jpg') }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='/img/user-solid.svg') }}">
                            {% endif %}
                            {{ student.Nombre.title() }} {{ student.Apellido.title() }}
                        </span>
                    </td>
                    <td>{{ student.DNI }}</td>
                    <td>{{ student.Tutor.Telefono}}</td>
                    <td class="option-table">
                        <a href="{{ url_for('informacion_alumno', student_id=student['IdAlumno']) }}">
                            <img src="{{ url_for('static', filename='/img/eye-regular.svg') }}">
                        </a>
                        <a href=""><img src="{{ url_for('static', filename='/img/trash-can-regular.svg') }}"></a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </thead>
    </table>
    <div class="footer-tools">
        <div class="list-items">

        </div>
        <div class="pages">
            
        </div>
    </div>
</div>

{% endblock %}