<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <title>{% block title %}Plantilla{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla.css') }}">
    {% block headerinf %}{% endblock %}
</head>
<body>
    <div class="side-bar" id="sideBar">
        <a href="{{ url_for('dashboard') }}" style="display: flex;height: 70px;align-items: center;justify-content: center;">
            <img src="{{ url_for('static', filename='img/logotipo g n.svg') }}" style="width: 35px; height: 35px;">
        </a>
        <div class="scroll-alumnos">
            <p class="items-name">ALUMNOS</p>
            <a href="{{ url_for('new_student') }}" class="cuadritos {% if request.path == url_for('new_student') %}active{% endif %}">
                <span>
                    <img src="{{ url_for('static', filename='img/agregar-usuario.svg') }}">
                    <p class="sideBar-item">Nuevo alumno</p>
                </span>
            </a>
            <a href="{{ url_for('curso') }}" class="cuadritos {% if request.path == url_for('curso') %}active{% endif %}">
                <span>
                    <img src="{{ url_for('static', filename='img/users-solid.svg') }}">
                    <p class="sideBar-item">Cursos</p>
                </span>
            </a>
            <a href="{{ url_for('nuevoCurso') }}" class="cuadritos {% if request.path == url_for('nuevoCurso') %}active{% endif %}">
                <span>
                    <img src="{{ url_for('static', filename='img/agregar-usuario.svg') }}">
                    <p class="sideBar-item">Nuevo curso</p>
                </span>
            </a>

        </div>
        <!-- {% block sidebarContent %}
            Contenido específico de la página
        {% endblock %} -->
    </div>
    <div class="container">
        <header>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <button class="button-header" onclick="openSidebar()"><img src="{{ url_for('static', filename='/img/menu.png') }}"></button>
                <!-- NAV -->
                <nav style="display: flex;">
                    <a href="{{ url_for('dashboard') }}" class="item-nav">inicio</a> 
                    <!-- <span  id="dropdownButton" class="item-nav" onclick="toggledropdown()">
                        Curso
                        <img src="static/img/chevron-down-solid.svg">
                    </span> -->
                    <!-- {% block navcontent %} -->
                    <!-- Contenido específico de la página -->
                    <!-- {% endblock %} -->
                </nav>
            </div>
            <button  id="profileButton" class="button-header" onclick="toggleMenu()"><img src="{{ url_for('static', filename='/img/perfil.jpg') }}" style="width: 40px; height: 40px; border-radius: 50%;"></button>
            <!-- Dropdown -->
            <div class="drop" id="dropdown">
                <div class="dropdown-container">
                    pinga
                </div>
            </div>
            <!-- Submenu -->
            <div class="sub-menu-wrap" id="subMenu" >
                <div class="sub-menu">
                    <h4>Perfil de usuario</h4>
                    <div class="user-info">
                        <img src="{{ url_for('static', filename='/img/perfil.jpg') }}">
                        <div style="display: flex; flex-direction: column;">
                            {% if g.email %}
                            <h4>{{ g.nombre }}</h4> <!-- CONECTAR CON LA BD PARA OBTENER EL USERNAME -->
                            <p>{{g.email}}</p> <!-- CONECTAR CON LA BD PARA OBTENER EL MAIL -->
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <a href="" class="sub-menu-link">
                        <div class="cuadro"><img src="{{ url_for('static', filename='/img/icon-account.svg') }}"></div>
                        <div style="padding-left: 30px;">
                            <h4>Mi perfil</h4>
                            <p>Configurar cuenta</p>
                        </div>
                    </a>
                    <a href="{{ url_for('logout') }}"style="width: 100%;" class="button2">Cerrar sesión </a>
                </div>
            </div>
        </header>
        <main>
            {% block maincontent %}
            <!-- Contenido específico de la página -->
            {% endblock %}
        </main>
    </div>
    <script> // Ni idea de JS zzz
        let subMenu = document.getElementById("subMenu");
        let dropdown = document.getElementById("dropdown");
        let sideBar = document.getElementById("sideBar");
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
            checkDisableHover();
        }
        function toggledropdown(){
            dropdown.classList.toggle("open-menu");
            checkDisableHover();
        }
        function openSidebar(){
            sideBar.classList.toggle("open-sidebar");
        }
        function checkDisableHover() {
            // añade la clase para desactivar hover
            if (subMenu.classList.contains("open-menu") || dropdown.classList.contains("open-menu")) {
                sideBar.classList.add("no-hover");
            } else {
                sideBar.classList.remove("no-hover");
            }
        }
        // Cerrar menús si se hace clic fuera
        document.addEventListener('click', function(event) {
            let isClickInsideSubMenu = subMenu.contains(event.target);
            let isClickInsideDropdown = dropdown.contains(event.target);
            let isButtonClick = event.target.closest('#profileButton') || event.target.closest('#dropdownButton');
            if (!isClickInsideSubMenu && !isClickInsideDropdown && !isButtonClick) {
                subMenu.classList.remove("open-menu");
                dropdown.classList.remove("open-menu");
                checkDisableHover();
            }
        });
    </script>
</body>
</html>